.box{
    height: 200px;
    background-color: pink;
    border: 1px solid black;
}

.box-nested{
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: salmon;
    border: 1px solid white;
}

.margin-right{
    margin-right: 10px;
}

.margin-left{
    margin-left: 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}