.container{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
}

.hair{
    background-color: #bf3531;
}
.pink{
    background-color: #eeb5ac;
}
.shadowy-pink{
    background-color: #c18479;
}
.nose-pink{
    background-color: #ca535a;
}
.brown{
    background-color: #872521;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}

.hair, .pink, .shadowy-pink, .nose-pink, .brown, .black, .white{
    height: 30px;
}

.absolute{
    position: absolute;
}


.from-white-to-black{
    height: 30px;
    animation: wb 3s infinite;
    
}

@keyframes wb {
    90%{background-color: white}
    100%{background-color: black}
}



.from-black-to-white{
    height: 30px;
    animation: bw 3s infinite;
}

@keyframes bw {
    90%{background-color: black}
    100%{background-color: white}
}