body {
    background-color: black;
}

footer{
    background-color: black;
}

.container{
    max-width: 1070px;
    min-width: 1070px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.margin{
    margin-top: 10px;
}


/* ralph */
.hair{
    background-color: #bf3531;
}
.pink{
    background-color: #eeb5ac;
}
.shadowy-pink{
    background-color: #c18479;
}
.nose-pink{
    background-color: #ca535a;
}
.brown{
    background-color: #872521;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}

.hair, .pink, .shadowy-pink, .nose-pink, .brown, .black, .white{
    height: 30px;
}

/* Eye Movement */
.from-white-to-black{
    height: 30px;
    animation: wb 2.5s infinite;
}
@keyframes wb {
    90%{background-color: white}
    100%{background-color: black}
}

.from-black-to-white{
    height: 30px;
    animation: bw 2.5s infinite;
}
@keyframes bw {
    90%{background-color: black}
    100%{background-color: white}
}


/* boolean */
.box{
    height: 100px;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 150px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}



/* brick */
/* color brick */
.ligth-brick, .brick-top, .brick-center, .brick-shadow, .light-shadow-brick{
    height: 10px;
}
.ligth-brick{
    background-color: #eb7825;
}
.brick-top{
    background-color: #ca6424;
}
.brick-center{
    background-color: #924710;
}
.brick-shadow{
    background-color: #542908;
}
.light-shadow-brick{
    background-color: #cb651b;
}







/* moving bricks*/
.absolute{
    position:absolute
}
.move-brick1{
    position: relative;
    animation: traslate-brick 26s infinite;
}
@keyframes traslate-brick {
    0%{transform:translateX(-2000px);}
    100%{transform:translateX(1500px);}
}

.move-brick2{
    position: relative;
    animation: traslate-brick 24s infinite;
}
@keyframes traslate-brick {
    0%{transform:translateX(-2000px);}
    100%{transform:translateX(1500px);}
}

.move-brick3{
    position: relative;
    animation: traslate-brick 28s infinite;
}
@keyframes traslate-brick {
    0%{transform:translateX(-2000px);}
    100%{transform:translateX(1500px);}
}

.move-brick4{
    position: relative;
    animation: traslate-brick 27s infinite;
}
@keyframes traslate-brick {
    0%{transform:translateX(-2000px);}
    100%{transform:translateX(1500px);}
}

.move-brick5{
    position: relative;
    animation: traslate-brick 25s infinite;
}
@keyframes traslate-brick {
    0%{transform:translateX(-2000px);}
    100%{transform:translateX(1500px);}
}